@use '../../sass/index' as *;

.content-my-services{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .title{
        width: 100%;
        margin-bottom: 1rem;
    }
    .service{
        flex: 1 0 200px;
        i{
            font-size: 1.5rem;
            margin-bottom: 1rem;
            color: $primary-color;
        }
        h2{
            font-size: 15px;
            margin-bottom: 1rem;
        }
        p{
            font-size: 13px;
        }
    }
}

// responsive

@include tablet{
    .content-my-services{
        margin-top: 2rem;

        .service{
            text-align: center;

            .description{
                text-align: justify;
            }
        }
    }
}

@include mobile {
    .content-my-services{
        gap: 40px;
        .title{
            text-align: center;
            margin: 1rem;
        }

    }
}