$background-div : #F4F4F4;
$primary-color: #bd0054;
$secondary-color: #293c54;
$red: tomato;
$black: #222222;
$white: #FFFFFF;
$grey: #F4F4F4;
$grey-dark: #293c54;

$box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
$border-radius: 10px;
$mobile-widht: 600px;
$tablet-widht: 1024px;
$desktop-widht: 1440px;
$desktop-widht-large: 1920px;

$font-family: 'Inter', sans-serif;