@use '../../sass/index' as *;

.content-home-page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .content-left, .content-right{
        width: 50%;
        height: 100%;
    }

    .content-left {
        align-self: flex-start;
        h1{
            font-size: 3rem;
        }
        .text{
            line-height: 1.3;
        }
        .dev{
            color: $primary-color;
        }
    }

    .content-right{
        position: relative;
        img{
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content-info{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #fff;
            
            .decorative-point{
                position: absolute;
                left: 0;
                top: 10%;
                opacity: .8;
            }
            
            .ticket-info{
                position: absolute;
            }
            .ticket-info:nth-child(1){
                left: 15%;
                top: 12%;
            }

            .ticket-info:nth-child(2){
                right: 39%;
                bottom: -10%;
            }

            .ticket-info:nth-child(3){
                right: 15%;
                top: 18%;
            }

            .ticket-info:nth-child(4){
                bottom: 20%;
                left: 0;
            }
        }
    }
}

// responsive

@include mobile {
    .content-home-page{
        flex-direction: column;
        height: auto;

        .content-left, .content-right{
            width: 100%;
            height: auto;
        }

        .content-left{
            h1{
                font-size: 2.2rem;
                
            }
        }

        .content-right{
            .content-info{
                .decorative-point{
                    top: 0;
                    left: 0;
                }
                .ticket-info{
                    position: relative;
                    margin: 1rem 0;
                }
            }
        }
    }
}

@include tablet {
    .content-home-page{
        .content-left{
            h1{
                font-size: 2.5rem;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .content-home-page{
        .content-left{
            h1{
                font-size: 2.5rem;
            }
        }
    }
}

@media screen and (max-width: 971px){
    .content-home-page{
        .content-left{
            h1{
                font-size: 2.2rem;
            }
        }
    }
}

@media screen and (max-width: 853px){
    .content-home-page{
        .content-left{
            h1{
                font-size: 2rem;
            }
        }
    }
}

